{% extends 'base.html.twig' %}

{% block title %}Hello MotionController!{% endblock %}

{% block body %}
<style>
    div{
        line-height: 0.5;
    }
    span{
        font-size: 10px;
        border: solid 1px black;
        color:white;
    }
    .red{background-color:red; color:red}
    .blue{background-color:blue; color:blue}
</style>

<div>
    <table>
        {% for item in initialTable %}
        <tr>
            <td>
                {% for value in item %}
                   <span{% if value == -1 %}
                           class="red"
                        {% elseif value == 1%}
                           class="blue"
                        {% endif %}>
                       X
                   </span>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
